* {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  height: 100%;
}

.app__container {
  display: flex;
  align-items: start;
  justify-content: space-evenly;
  flex-direction: column;
  flex-wrap: nowrap;
  width: fit-content;
}

.container {
  background-image: url("../assets/windows.webp");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
  position: absolute;
  cursor: default;
  z-index: -1;
}
.container__item {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 4vw;
  height: 8vh;
  margin: 5vh 0 0 1vw;
}
.container__item__image {
  width: 3vw;
  height: 6vh;
}
.container__item__text {
  font-family: "Libre Franklin", sans-serif;
  font-size: small;
  color: white;
  text-shadow: 0.1vh 0.1vw 0 black;
  text-align: center;
}
.container__item__text--clicked {
  background-color: #1941a5;
}
.container__default {
  cursor: default;
  position: absolute;
  left: 5vw;
  top: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
}
.container__default__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 3vh;
  background-color: #245dda;
  background: linear-gradient(rgb(0, 88, 238) 0%, rgb(53, 147, 255) 4%, rgb(40, 142, 255) 6%, rgb(18, 125, 255) 8%, rgb(3, 111, 252) 10%, rgb(2, 98, 238) 14%, rgb(0, 87, 229) 20%, rgb(0, 84, 227) 24%, rgb(0, 85, 235) 56%, rgb(0, 91, 245) 66%, rgb(2, 106, 254) 76%, rgb(0, 98, 239) 86%, rgb(0, 82, 214) 92%, rgb(0, 64, 171) 94%, rgb(0, 48, 146) 100%) center/cover no-repeat;
}
.container__default__header__icons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-left: 0.2vw;
}
.container__default__header__icons__img {
  width: 1vw;
  height: 2vh;
}
.container__default__header__icons__text {
  font-family: "Libre Franklin", sans-serif;
  font-size: small;
  color: white;
  text-shadow: 0.1vh 0.1vw 0 black;
}
.container__default__header__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-right: 0.2vw;
}
.container__default__header__buttons__button {
  cursor: pointer;
  width: 1.2vw;
  height: 2.4vh;
}
.container__default__options__header {
  background-color: ghostwhite;
  width: calc(100% - 6px);
  border-left: 3px solid rgb(8, 49, 217);
  border-right: 3px solid rgb(8, 49, 217);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}
.container__default__options__header__text {
  font-size: small;
  margin: 0 0.1vw 0 0.5vw;
}
.container__default__options__header__text:hover {
  background-color: #1941a5;
  color: white;
}
.container__notepad__textWrapper {
  width: 100%;
}
.container__notepad__textarea {
  border-left: 3px solid rgb(8, 49, 217);
  border-right: 3px solid rgb(8, 49, 217);
  border-bottom: 3px solid rgb(8, 49, 217);
  min-width: 20vw;
  min-height: 20vh;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.container__notepad__textarea:focus {
  overflow: auto;
  outline: none;
  resize: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.menu {
  cursor: default;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.menu__container {
  min-height: 62vh;
  min-width: 25vw;
  background-color: #3f8cf3;
  position: fixed;
  bottom: 0;
  left: 0;
  border-radius: 10px 10px 0 0;
}
.menu__header {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: row;
  flex-wrap: nowrap;
  background: linear-gradient(to bottom, #245edc 0%, rgb(83, 181, 219) 4%, #245edc 6%, #3f8cf3 100%) center/cover no-repeat;
  width: 100%;
  height: 8vh;
  border-radius: 10px 10px 0 0;
}
.menu__header__contents {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.menu__header__image {
  margin-top: 5%;
  margin-left: 30%;
  width: 3vw;
  height: 6vh;
  border: 2px solid white;
  border-radius: 5px;
}
.menu__header__user {
  color: white;
  font-weight: 600;
  font-size: 1vw;
  margin-left: 10%;
}
.menu__mid {
  background-color: gray;
  height: 47vh;
  width: 99.5%;
  position: relative;
}
.menu__mid__contents {
  display: flex;
  align-items: normal;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
}
.menu__mid__contents__orange__sep {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  display: block;
  height: 2px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(218, 136, 74) 50%, rgba(0, 0, 0, 0) 100%);
  border: 0px;
}
.menu__mid__contents__left {
  width: 100%;
  background-color: white;
  border-top: 1px solid #245dda;
  border-bottom: 1px solid #245dda;
}
.menu__mid__contents__left__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0.2vw;
}
.menu__mid__contents__left__item__image {
  width: 2.4vw;
  height: 4.6vh;
}
.menu__mid__contents__left__item__text {
  font-family: "Libre Franklin", sans-serif;
  font-size: 1.6vh;
  font-weight: 100;
}
.menu__mid__contents__left__all {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.menu__mid__contents__left__all__text {
  font-family: "Libre Franklin", sans-serif;
  font-size: 1.6vh;
  font-weight: 100;
  text-align: center;
}
.menu__mid__contents__left__all__image {
  width: 1.5vw;
  height: 3vh;
}
.menu__mid__contents__left__separator {
  height: 0.2vh;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0) 100%) content-box;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
}
.menu__mid__contents__left__separator__two {
  margin: 1.5vh 0 0 0;
}
.menu__mid__contents__left__item:hover, .menu__mid__contents__left__all:hover {
  background-color: #1941a5;
  color: white;
}
.menu__mid__contents__right {
  background-color: #c7d8ef;
  width: 100%;
  border-left: 1px solid #7aa5e0;
  border-top: 1px solid #245dda;
  border-bottom: 1px solid #245dda;
}
.menu__mid__contents__right__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0.2vw;
}
.menu__mid__contents__right__item__image {
  margin-top: 1%;
  width: 1.5vw;
  height: 3vh;
}
.menu__mid__contents__right__item__text {
  font-family: "Libre Franklin", sans-serif;
  font-size: 1.4vh;
  font-weight: 600;
  margin-left: 0.3vw;
}
.menu__mid__contents__right__separator {
  height: 0.2vh;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(135, 179, 226, 0.71) 50%, rgba(0, 0, 0, 0) 100%) content-box;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
}
.menu__mid__contents__right__item:hover {
  background-color: #1941a5;
  color: white;
}
.menu__footer {
  background: linear-gradient(to bottom, #3f8cf3 0%, #3a6dda 25%, #245edc 50%, #245edc 100%) center/cover no-repeat;
  height: 4vh;
  width: 100%;
}
.menu__footer__contents {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: nowrap;
}
.menu__footer__contents__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0.2vw 0.5vw;
}
.menu__footer__contents__item__image {
  margin-top: 1%;
  width: 1.125vw;
  height: 2.25vh;
}
.menu__footer__contents__item__text {
  font-family: "Libre Franklin", sans-serif;
  font-size: 1.4vh;
  font-weight: 300;
  margin-left: 0.3vw;
  color: white;
}
.menu__footer__contents__item:hover {
  background-color: #1941a5;
}

.taskbar {
  display: flex;
  justify-content: space-between;
  background-color: #245dda;
  background: linear-gradient(to bottom, #245edc 0%, #3f8cf3 10%, #245edc 20%, #245edc 90%, #1941a5 100%) center/cover no-repeat;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 3.5%;
  width: 100%;
}
.taskbar__time {
  font-size: 0.8vw;
  color: white;
  margin: 0px 0.3vw;
}
.taskbar__time__container {
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 7%;
  background-color: #3f8cf3;
  background: linear-gradient(to bottom, #3f8cf3 0%, skyblue 10%, #3f8cf3 20%, #3f8cf3 90%, #3f8cf3 100%) center/cover no-repeat;
}
.taskbar__time__container__img {
  margin-top: 0.1vw;
  width: 1vw;
  height: 2vh;
}
.taskbar__start__button {
  cursor: pointer;
}
